.paletteSelectorContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 0.9em;
}

.paletteSelectorContainer label {
    margin-right: 5px;
}

.roundButton {
    margin-left: 5px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#darkTheme_Button {
    background-color: var(--a0);
    border-color: var(--a4);
}

#lightTheme_Button {
    background-color: var(--a3);
    border-color: var(--a1);
}

@media (max-width: 768px) {
    .paletteSelectorContainer {
        top: 10px;
        right: 10px;
    }
}