
.ide-container {
    background-color: var(--graph_background);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px 0;
}

.codeLine{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.codeNumber {
    display: flex;
    font-size: 10px;
    background-color: #00000000;
    color: #888888;
    padding: 10px;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: left;
    width: 50px;
    user-select: none;
}

.codeContent-container {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

textarea {
    display: flex;
    background-color: var(--graph_background);
    color: var(--text);
    border: none;
    resize: none;
    padding: 1px;
    width: 100%;
    height: 30px;
    font-family: 'Courier New', monospace;
    font-size: 12px;
    outline: none;
    line-height: 1.5;
    white-space: nowrap;

    align-items: center;
    align-content: center;
    align-self: center;
}

textarea:focus {
    border: none;
}


.output {
    font-family: 'Courier New', monospace;
    padding: 10px;
    height: 10%;
    overflow-y: auto;
    font-size: 14px;
    color: var(--text);
}
