<div class="nav-container">
    <h1>Eulerian Hades</h1>
    <nav>
        <ul class="main-menu">
            <li>
                <a href="/math" class="menu-toggle">Math</a>
                <ul class="submenu">
                    <li><a href="/" data-lang-key="nav.Algebra_Calculus">Algebra / Calculus</a></li>
                    <li><a href="/graphs" data-lang-key="nav.Graph Theory">Graph Theory</a></li>
                    <li><a href="/linealAlgebra">Lineal Algebra</a></li>
                </ul>
            </li>
            <li>
                <a href="/cs" class="menu-toggle">Computer Science</a>
                <ul class="submenu">
                    <li><a href="/introCS">Introduction</a></li>
                    <li><a href="/sortingAlgorithms">Sorting Algorithms</a></li>
                    <li><a href="/searchingAlgorithms">Searching Algorithms</a></li>
                    <li><a href="/dataStructure">Data Structure</a></li>
                </ul>
            </li>
            <li>
                <a href="/electronics" class="menu-toggle">Electronics</a>
                <ul class="submenu">
                    <li><a href="/introCircuits">Introduction</a></li>
                    <li><a href="/basicCircuits">Basic Circuits</a></li>
                    <li><a href="/digitalCircuits">Digital Circuits</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<script src="../static/js/nav.js"></script>
