
.arrayMethods {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.divMethod {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    width: 100%;
}

.divMethod button {
    width: 100%;
    height: 30px;
    font-size: 16px;
}

.divMethod input {
    margin-left: 5px;
    height: 30px;
    font-size: 12px;
    width: 100%;
}

#apply-algorithm-button {
    width: 100%;
    height: 30px;
    font-size: 16px;
}

.contractableMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.contractableMenu button{
    width: 100%;
    height: 40px;
    background-color: var(--button);
    padding: 0px 20px;   
    margin: 0;
    text-align: left;
    font-size: 14px;
}

.contractableMenu button:hover {
    background-color: var(--button_hover);
}

.contractableMenu .menuContent {
    width: 80%;
    padding: 15px;
}

.menuContent {
    display: none;
}

.article {
    width: 100%;
    display: flex;
    text-align: justify;
    padding: 5px;
    margin: 0;
    font-size: 12px;
}