:root {
    /* Palette */
    --a0: #090909;
    --a1: #17191a;
    --a2: #212125;
    --a3: #cfcfd7;
    --a4: #f7fcff;
    --alpha: #00000000;

    /* Main Styles */
    --background: #121212;
    --header: #17191a;
    
    /* Buttons Styles */
    --button: #353636;
    --button_hover: #212125;
    
    /* Input Styles */
    --bar: #e7e7e7;

    /* Panel Styles */
    --panel1: #212121;
    --panelOpposite: #f7fcff;
    --panel-light: #f7fcff;
    --panel-dark: #212121;
    --panel_border: #0000;

    /* Text Styles */
    --text: #e7e7e7;
    --text_title: #e7e7e7;
    --text_subtitle: #555;
    --text_focus: #999;
    --text2: #0c0c0c;

    /* scrollBar Styles */
    --scrollBar: #777;
    --scrollBar_hover: #555;
    --scrollBar_bg: #f1f1f1;
 
    --scrollBar2: #222;
    --scrollBar2_hover: #555;
    --scrollBar2_bg: #444;

    /* Others */
    --logoBg: #4040ff;
    --logoFont: #f7fcff;

    --imageBg: #88bbdd;

    /* No using */
    --graph_background: #111111;
    --graph_border: #e7e7e7;;
    --graph_fill: #212125;
    --graph_link: #212125;

    --r: #a2574f;
    --g: #4fa259;
    --b: #4f88a2;
    --r_hover: #e18a81;
    --g_hover: #78d783;
    --b_hover: #88c1db;
}


.dark {
    /* Palette */
    --a0: #090909;
    --a1: #17191a;
    --a2: #212125;
    --a3: #cfcfd7;
    --a4: #f7fcff;
    --alpha: #00000000;

    /* Main Styles */
    --background: #121212;
    --header: #17191a;
    
    /* Button Styles */
    --button: #353636;
    --button_hover: #212125;
    
    /* Input Styles */
    --bar: #e7e7e7;

    /* Panel Styles */
    --panel1: #212121;
    --panelOpposite: #f7fcff;
    --panel-light: #f7fcff;
    --panel-dark: #212121;
    --panel_border: #0000;

    /* Text Styles */
    --text: #e7e7e7;
    --text_title: #e7e7e7;
    --text_subtitle: #555;
    --text_focus: #999;
    --text2: #0c0c0c;

    /* scrollBar Styles */
    --scrollBar: #777;
    --scrollBar_hover: #555;
    --scrollBar_bg: #f1f1f1;
 
    --scrollBar2: #222;
    --scrollBar2_hover: #555;
    --scrollBar2_bg: #444;

    /* Others */
    --logoBg: #4040ff;
    --logoFont: #f7fcff;

    --imageBg: #88bbdd; /* #e7e7e7; #88bbdd;*/

    /* No using */
    --graph_background: #111111;
    --graph_border: #e7e7e7;;
    --graph_fill: #212125;
    --graph_link: #212125;

    --r: #a2574f;
    --g: #4fa259;
    --b: #4f88a2;
    --r_hover: #e18a81;
    --g_hover: #78d783;
    --b_hover: #88c1db;
}

.light {
    /* Palette */
    --a0: #090909;
    --a1: #17191a;
    --a2: #212125;
    --a3: #cfcfd7;
    --a4: #f7fcff;
    --alpha: #00000000;

    /* Main Styles */
    --background: #E0E0EA;
    --header: #fff5;
    
    /* Buttons Styles */
    --button: #f7fcff;
    --button_hover: #d2dee4;

    /* Input Styles */  
    --bar: #e7e7e7;

    /* Panel Styles */
    --panel1: #f7fcff;
    --panelOpposite: #212121;
    --panel-light: #f7fcff;
    --panel-dark: #212121;
    --panel_border: #2c5c8650;

    /* Text Styles */
    --text: #0c0c0c;
    --text_title: #0c0c0c;
    --text_subtitle: #999;
    --text_focus: #333;
    --text2: #0c0c0c;

    /* scrollBar Styles */
    --scrollBar: #999;
    --scrollBar_hover: #777;
    --scrollBar_bg: #ccc;

    --scrollBar2: #777;
    --scrollBar2_hover: #555;
    --scrollBar2_bg: #aaa;

    /* Others */
    --logoBg: #4040ff;
    --logoFont: #f7fcff;

    --imageBg: #88bbdd;
    
    /* No using */
    --graph_background: #c8dcdf;
    --graph_border: #17191a;
    --graph_fill: #17191a;
    --graph_link: #17191a;

    --r: #a2574f;
    --g: #4fa259;
    --b: #4f88a2;
    --r_hover: #8e473f;
    --g_hover: #409048;
    --b_hover: #3d748e;
}