@import url('palettes.css');

main {
    font-size: 10px;
    padding-bottom: 0;
}

#sortingAlgorithm-title-container {
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 12px;
}

#sortingAlgorithm-title {
    font-size: 12px;
}

#sortingAlgorithm-more {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

#barGraph-controls {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    margin-right: 20px;
    height: 200px;
    width: 25%;
}

.longButton, #sortingAlgorithm-selector, #sortingAlgorithm-numBars-container , #sortingAlgorithm-speed-container {
    width: 100%;
    background-color: var(--button);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.longButton, #sortingAlgorithm-numBars-container , #sortingAlgorithm-speed-container {
    padding: 6px 0;
}

#numBars {
    padding: 3px 3px;
    padding-right: 1px;
    padding-left: 10px;
    margin-left: 10px;
    border: 1.5px solid white;
}

#sortingAlgorithm-speed-innerContainer {
    display: flex;
    gap: 5px;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
}

#sortingAlgorithm-speed {
    width: 55%;
    height: 10px;
    background-color: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

#sortingAlgorithm-speed::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    color: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

span {
    font-size: 9px;
}


#info_code-container {
    align-items: flex-start; 
    width: 100%;
    height: 200px;
    background-color: var(--graph_background);
    border-radius: 20px;
    text-align: justify;
}

#info_title , #code_title {
    border-radius: 10px 10px 0 0;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0;
}

#info_code {
    background-color: var(--button);
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 87%;
    padding: 15px;
    font-size: 10px;
}

/* Responsive Design */
@media (max-width: 800px) {
    #info-code-container {
        flex-direction: column; /* Stacks info and code vertically on small screens */
    }

    #info-code-container > div {
        width: 100%;
        margin-bottom: 10px;
    }
}
