@font-face {
  font-family: 'MiFuente';
  src: url('../fonts/Lora-Regular.woff2') format('woff2'),
       url('../fonts/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

