@import url('palette.css');

.main-container {
    display: flex;
    justify-content: space-between; /* Distribuir el espacio entre los contenedores */
    align-items: flex-start; /* Alinear los contenedores en la parte superior */
    height: auto;
}

.input-container {
    padding: 20px;
    margin-right: 50px;
    box-sizing: border-box; /* Incluir padding en el ancho total */
    width: 30%;
    height: 100%;
}
.input-container label {
    color: var(--text)
}

.diagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 70%;
}

#nodeInput, #intersectionInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nodeBar, #intersectionInput-innerdiv  {
    width: 100%; 
}

#shortButton-container, #column_Button{
    width: 10%;
    margin-left: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#buttonsDiv {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--bar);
    color: var(--text2);
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.wideButton {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 25px;

    background-color: var(--button);
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shortButton, .highButton {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 25px;

    background-color: var(--button);
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button_hover);
    color: var(--text);
}

.shortButton {
    width: 50px;
    height: 25px;
}

.highButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 120px;
    background-color: var(--button);
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}


#clear_Button {
    background-color: #a2574f;
}

#download_Button {
    background-color: #4f88a2;
}

#graph-svg {
    margin: 15px;
    margin-top: 25px;
    width: 100%;
    height: 100%;
    border: 5px solid var(--header); /* Borde opcional para el SVG */
}

.node {
    fill: var(--graph_fill); /* Color de relleno */
    stroke: var(--graph_border); /* Color del borde */
    stroke-width: 2px; /* Ancho del borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el nodo */
}

.link {
    stroke: var(--graph_link); /* Color del enlace */
    stroke-width: 1.5px; /* Ancho del enlace */
}

.node-label {
    font-family: 'Comfortaa', sans-serif;
    font-size: 12px;
    fill: var(--text); /* Color del texto */
    pointer-events: none; /* Evita que las etiquetas interfieran con los eventos de clic */
}

.link-label {
    font-family: Arial, sans-serif;
    font-size: 10px;
    fill: var(--text); /* Color del texto */
    pointer-events: none; /* Evita que las etiquetas interfieran con los eventos de clic */
}

@media (max-width: 1200px) {
    .input-container {
        margin-right: 20px;
    }
}

@media (max-width: 1100px) {
    .input-container {
        margin-right: 0px;
    }
}

@media (max-width: 900px) {
    .main-container {
        flex-direction: column; /* Cambia la dirección del diseño a columna */
        align-items: center; /* Centra los elementos verticalmente */
    }

    .diagram-container {
        order: 1; /* Asegura que el diagrama esté primero */
        width: 100%; /* Ajusta el ancho al 100% del contenedor principal */
    }

    .input-container {
        order: 2; /* Asegura que el contenedor de entrada esté segundo */
        width: 100%; /* Ajusta el ancho al 100% del contenedor principal */
        
        padding: 20px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }

    #graph-svg {
        margin-top: 150px;
        margin-bottom: 20px;
    }

    #download_Button {
        margin-bottom: 50px;
    }
}






