
main {
    text-align: center;
    color: var(--b3);
    padding: 20px;
    margin-top: 0px; 
}

.equationBar label {
    margin-top: 60px; 
    margin-bottom: 10px; 
    display: block; 
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 700px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--c3);
    color: var(--c4);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button {
    background-color: var(--c2);
    color: var(--c4);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: var(--c1);
    color: var(--c4);
}

.mathOutput {
    margin-top: 120px;
    margin-bottom: 60px;
    font-size: 1.5em;
    color: var(--b4);
    text-align: left;
    width: 100%;
    max-width: 800px;
    word-wrap: break-word;
    display: block;
}


@media (max-width: 768px) {
    input {
        width: 500px;
    }
}

@media (max-width: 600px) {
    input {
        width: 400px;
    }
}

@media (max-width: 500px) {
    input {
        width: 400px;
    }
}

@media (max-width: 420px) {
    input {
        width: 300px;
    }

}

