:root {
    --a1: #17191a;
    --a2: #212125;
    --a3: #cfcfd7;
    --a4: #e7e7e7;

    --b1: #1fbe42;
    --b2: #74ff92;
    --b3: #c7ffd3;
    --b4: #daffe2;

    --c1: #0b3915;
    --c2: #074815;
    --c3: #1b6329;
    --c4: #fafffb;
}


.palette1 {
    --a1: #17191a;
    --a2: #212125;
    --a3: #cfcfd7;
    --a4: #e7e7e7;

    --b1: #1fbe42;
    --b2: #74ff92;
    --b3: #c7ffd3;
    --b4: #daffe2;

    --c1: #0b3915;
    --c2: #074815;
    --c3: #1b6329;
    --c4: #fafffb;
}

.palette2 {
    --a1: #17191a;
    --a2: #212125;
    --a3: #cfcfd7;
    --a4: #e7e7e7;

    --b1: #be1f1f;
    --b2: #ff7474;
    --b3: #ffc7c7;
    --b4: #ffdada;

    --c1: #390b0b;
    --c2: #480707;
    --c3: #631b1b;
    --c4: #fffafa;
}

.palette3 {
    --a1: #17191a;
    --a2: #212125;
    --a3: #cfcfd7;
    --a4: #e7e7e7;

    --b1: #1f99be;
    --b2: #74a7ff;
    --b3: #c7e4ff;
    --b4: #dae7ff;

    --c1: #0b1139;
    --c2: #071a48;
    --c3: #1b3963;
    --c4: #fafcff;
}
