@import url('palette.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: relative; 

    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: var(--header);
    width: 100%;
    padding: 20px;
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
header h1 {
    margin: 0;
    font-size: 1.5em;
    font-family: sans-serif;
}

nav {
    margin-top: 5px;
    margin-left: auto;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}
nav a {
    text-decoration: none;
    background-color: var(--button);
    color: var(--text);
    padding: 5px 10px;
    border: 2px solid var(--button);
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.75em;
}
nav a:hover {
    background-color: var(--button_hover);
    border: 2px solid var(--button_hover);
    color: var(--text);
}

.paletteSelectorContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 0.9em;
}

.paletteSelectorContainer label {
    margin-right: 5px;
}

.roundButton {
    margin-left: 5px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#darkTheme_Button {
    background-color: var(--a0);
    border-color: var(--a4);
}

#lightTheme_Button {
    background-color: var(--a3);
    border-color: var(--a1);
}

footer {
    background-color: var(--background);
    font-size: 10px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: var(--text);
    position: fixed;
    bottom: 0;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
    }
    header h1 {
        font-size: 1.2em;
    }

    nav {
        align-self: flex-start;
    }
    nav a {
        font-size: 0.7em;
        padding: 5px;
    }
    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    .paletteSelectorContainer {
        top: 10px;
        right: 10px;
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.2em;
    }

    nav a {
        font-size: 0.7em;
        padding: 5px;
    }
}
