@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

header {
    background-color: var(--header);
    width: 100%;
    padding: 20px;
    padding-bottom: 15px;
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000; 
}
header h1 {
    margin: 0;
    font-size: 1em;
    font-family: Comfortaa;
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}
a {
    text-decoration: none;
    background-color: var(--button);
    color: var(--text);
    padding: 3px 5px;
    border: 2px solid var(--button);
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.65em;
}
a:hover {
    background-color: var(--button_hover);
    border: 2px solid var(--button_hover);
    color: var(--text);
}


.main-menu li {
    display: block;
}

.main-menu li a {
    text-decoration: none;
}

.submenu {
    display: none;
    position: absolute;
    top: 25px;
    padding: 10px;
    border: solid var(--button_hover);
    border-radius: 5px;
    background-color: var(--graph_background);
    top: 70px;
    width: 200px;
}

.submenu li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-menu li:hover > .submenu {
    display: absolute;
}



@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
    }
    header h1 {
        font-size: 1.2em;
    }
    
    .nav-container nav {
        align-self: flex-start;
    }
    .nav-container nav ul li a {
        font-size: 0.7em;
        margin: 0;
        padding: 2px 5px;
    }
    .nav-container nav ul {
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1em;
    }
}