<!DOCTYPE html>
<html lang="en">
<head>
    <title data-lang-key="title">Eulerian Hades</title>
    <meta charset="UTF-8">
    <meta name="description" content="" data-lang-key="description">
    <meta name="keywords" content="Math">
    <meta name="author" content="" data-lang-key="author">
    <meta http-equiv="refresh" content="1800"> <!-- Refresh each 30mins --> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/images/logo.png" type="image/x-icon">

    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/webStyle.css">
    <link rel="stylesheet" href="../static/css/palettes.css">
    <link rel="stylesheet" href="../static/css/sortingAlgorithms.css">

    <!-- Components Styles -->
    <link rel="stylesheet" href="../static/css/components/nav.css">
    <link rel="stylesheet" href="../static/css/components/paletteSelector.css">
    <link rel="stylesheet" href="../static/css/components/footer.css">
    <link rel="stylesheet" href="../static/css/components/barGraph.css">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        {% include 'components/nav.html' %}
        {% include 'components/paletteSelector.html' %}
        {% include 'components/languageSelector.html' %}
    </header>

    <main>
        <!-- Title for Sorting Algorithm -->
        <div id="sortingAlgorithm-title-container">
            <label id="sortingAlgorithm-title" for="sortingAlgorithm-selector" data-lang-key="sortingAlgorithm.title">Sorting Algorithms:</label>
        </div>

        <!-- Bar Graph -->
        <div id="barGraph-container">
            <div id="barGraph"></div>    
        </div>

        <div id="sortingAlgorithm-more">
            <!-- Controls for Bar Graph -->
            <div id="barGraph-controls">
                <select id="sortingAlgorithm-selector">
                    <option value="bubbleSort" data-lang-key="sortingAlgorithm.bubbleSort">Bubble Sort</option>
                    <option value="selectionSort" data-lang-key="sortingAlgorithm.selectionSort">Selection Sort</option>
                    <option value="insertionSort" data-lang-key="sortingAlgorithm.insertionSort">Insertion Sort</option>
                </select>

                <div id="sortingAlgorithm-numBars-container">
                    <label for="numBars" data-lang-key="sortingAlgorithm.bars">Bars:</label>
                    <input type="number" id="numBars" value="20" min="5" max="100" onchange="updateBars()">
                </div>

                <div id="sortingAlgorithm-speed-container">
                    <label for="animationSpeed" data-lang-key="sortingAlgorithm.speed">Speed (ms):</label>
                    <div id="sortingAlgorithm-speed-innerContainer">
                        <input type="range" id="sortingAlgorithm-speed" min="1" max="1000" value="300" onchange="updateSpeed()">
                        <span id="speedValue">300 ms</span>
                    </div>
                </div>
                <button class="longButton" data-lang-key="sortingAlgorithm.sortButton" onclick="sortBars()">Sort</button>
                <button class="longButton" data-lang-key="sortingAlgorithm.resetButton" onclick="resetBars()">Reset</button>
            </div>

            <!-- Info and Code -->
            <div id="info_code-container">
                <div id="info_code-titles">
                    <button id="info_title">Info</button>
                    <button for="" id="code_title">Code</button>
                </div>
                <div id="info_code">
                    <p id="sort-info" data-lang-key="sortingAlgorithm.info">Lorem</p>
                </div>
            </div>
        </div>
    
    </main>
    
    {% include 'components/footer.html' %}

    <script src="../static/js/paletteSelector.js"></script>
    <script src="../static/js/barGraph.js"></script>
    <script src="../static/js/languageManager.js"></script>
</body>
</html>
