<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eulerian Hades</title>
    
        <meta charset="UTF-8">
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="Math">
        <meta name="author" content="{{ author }}">
        <meta http-equiv="refresh" content="1800"> <!-- Refresh each 30mins --> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
        
        <!-- Styles -->
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/webStyle.css">
        <link rel="stylesheet" href="../static/css/palettes.css">

    
        <!-- Components Styles -->
        <link rel="stylesheet" href="../static/css/components/nav.css">
        <link rel="stylesheet" href="../static/css/components/paletteSelector.css">
        <link rel="stylesheet" href="../static/css/components/footer.css">
    
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    
    </head>

    <body>

        <header>
            {% include 'components/globals/nav.html' %}
            {% include 'components/globals/paletteSelector.html' %}
            {% include 'components/globals/languageSelector.html' %}
        </header>
        
        <main>

            <article>
                <h1> Introduction to Computer Science </h1>
                <h2>Concepts</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maiores delectus iste sit vero maxime, labore omnis ullam ipsam, earum voluptate fuga nemo veritatis nesciunt porro dignissimos voluptas nihil quasi?</p>
                <h2>Algorithms</h2>
                <h2>Data Structures</h2>
            
            </article>

            
        </main>
        
        {% include 'components/globals/footer.html' %}

        <!-- JS -->
        <script src="../static/js/paletteSelector.js"></script>
        <script src="../static/js/languageManager.js"></script>

    </body>
</html>
