@import url('palette.css');

.equationBar label {
    margin-top: 60px; 
    margin-bottom: 10px; 
    display: block; 
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 700px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--bar);
    color: var(--text2);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button {
    background-color: var(--button);
    color: var(--text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: var(--button_hover);
    color: var(--text);
}

.mathOutput {
    margin-top: 120px;
    margin-bottom: 60px;
    font-size: 1.5em;
    color: var(--text);
    text-align: left;
    width: 100%;
    max-width: 800px;
    word-wrap: break-word;
    display: block;
}


@media (max-width: 768px) {
    input {
        width: 500px;
    }
}

@media (max-width: 600px) {
    input {
        width: 400px;
    }
}

@media (max-width: 500px) {
    input {
        width: 400px;
    }
}

@media (max-width: 420px) {
    input {
        width: 300px;
    }

}

