:root {
    --a0: #090909;
    --a1: #17191a;
    --a2: #212125;
    --a3: #cfcfd7;
    --a4: #f7fcff;

    --background: #090909;
    --header: #17191a;
    
    --button: #17191a;
    --button_hover: #212125;
    
    --bar: #e7e7e7;

    --text: #e7e7e7;
    --text2: #0c0c0c;

    --graph_background: #111111;
    --graph_border: #e7e7e7;
    --graph_fill: #212125;
    --graph_link: #212125;

    --r: #a2574f;
    --g: #4fa259;
    --b: #4f88a2;

    --r_hover: #e18a81;
    --g_hover: #78d783;
    --b_hover: #88c1db;
}


.dark {
    --a0: #090909;
    --a1: #17191a;
    --a2: #212125;
    --a3: #cfcfd7;
    --a4: #f7fcff;

    --background: #090909;
    --header: #17191a;
    
    --button: #17191a;
    --button_hover: #212125;
    
    --bar: #e7e7e7;

    --text: #e7e7e7;
    --text2: #0c0c0c;

    --graph_background: #111111;
    --graph_border: #e7e7e7;;
    --graph_fill: #212125;
    --graph_link: #212125;

    --r: #a2574f;
    --g: #4fa259;
    --b: #4f88a2;

    --r_hover: #e18a81;
    --g_hover: #78d783;
    --b_hover: #88c1db;
}

.light {
    --a0: #090909;
    --a1: #17191a;
    --a2: #212125;
    --a3: #cfcfd7;
    --a4: #f7fcff;

    --background: #a5c0c4;
    --header: #f7fcff;
    
    --button: #f7fcff;
    --button_hover: #d2dee4;
    
    --bar: #e7e7e7;

    --text: #0c0c0c;
    --text2: #0c0c0c;

    --graph_background: #c8dcdf;
    --graph_border: #17191a;
    --graph_fill: #17191a;
    --graph_link: #17191a;

    --r: #a2574f;
    --g: #4fa259;
    --b: #4f88a2;

    --r_hover: #8e473f;
    --g_hover: #409048;
    --b_hover: #3d748e;
}