@import url('palette.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: relative; 

    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
}

main {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    width: 100%;
    color: var(--text);
    padding: 20px;
    margin-top: 60px;
}