@import url('palettes.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: relative; 
    display: flex;
    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
}

main {
    display: block;
    flex: 1;
    text-align: center;
    justify-content: center;  
    align-items: center;      
    width: 100%;
    color: var(--text);
    padding: 20px;
    margin-top: 60px;
}


button {
    background-color: var(--button);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: var(--button_hover);
    color: var(--text);
}
.normalButton {
    padding: 5px 15px;
    border-radius: 20px;
}


select {
    background-color: var(--button);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
    border-radius: 20px;
}

input {
    background-color: var(--button);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px 10px;
    border-radius: 20px;
}

#language-selector {
    position: relative;
    bottom: 8px;
    right: 60px;
    padding: 0 3px;
    margin-right: 5px;
    border: 1px;
    border-color: var(--a4);
}

.divPanel {
    background-color: var(--graph_background);
    border-radius: 20px;
    text-align: center;
    justify-content: center;  
    align-items: center;   
}

.sideNav_content{
    display: flex;
    height: 100%;
}
.sideNav_content .content{
    width: 100%;
    height: 100%;
    margin: 20px;
}
.sideNav {
    padding-top: 50px;
    height: 100%;
    justify-content: left;
    width: 90px;
    position: fixed;
    background-color: var(--graph_background);
}
.sideNav nav {
    display: flex;
    flex-direction: column;
    background-color: var(--graph_background);
    text-align: center;
    justify-content: center;  
    align-items: center;   
    width: 100%;
}
.sideNav nav ul {
    list-style: none;
    width: 100%;
}
.sideNav nav ul li {
    width: 100%;
    padding: 10px;
}
.sideNav nav ul li a {
    width: 100%;
    background-color: #00000000;
    border: none;
}
.sideNav nav ul li:hover {
    background-color: var(--button);
}

.sideNav-collider {
    display: flex;
    height: 100%;
    justify-content: left;
    width:100px;
    z-index: -1;
    margin-right: 10px;
}

.divHorizontal {
    padding: 0px;
    padding-top: 15px;
}