<div id="downloadPanel" class="overlay">
    <div class="overlay-content">
        <h2>Download</h2>
        
        <button class="closeButton" id="closePanel_Button_download">&times;</button>
        
        <div class="downloadFile_Button_grid">
            <div class="downloadFile_Button_container">
                <button id="downloadPNG_Button" class="downloadFile_Button"></button>
                <h4>Download PNG</h4>
            </div>
            <div class="downloadFile_Button_container">
                <button id="downloadSVG_Button" class="downloadFile_Button"></button>
                <h4>Download SVG</h4>
            </div>
        </div>
        
        <div><button id="copyStr_Graph_Button" class="copyButton">Copy</button></div>
    </div>
</div>