<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eulerian Hades</title>

    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="Math">
    <meta name="author" content="{{ author }}">
    <meta http-equiv="refresh" content="1800"> <!-- Refresh each 30mins --> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
    
    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/webStyle.css">
    <link rel="stylesheet" href="../static/css/graphStyle.css">

    <!-- Components Styles -->
    <link rel="stylesheet" href="../static/css/components/nav.css">
    <link rel="stylesheet" href="../static/css/components/paletteSelector.css">
    <link rel="stylesheet" href="../static/css/components/footer.css">
    <link rel="stylesheet" href="../static/css/components/panels.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="../static/js/paletteSelector.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="../static/js/node.js"></script>
    <script src="../static/js/graphPanels.js"></script>

</head>

<body>
    
    <header>
        {% include 'components/nav.html' %}
        {% include 'components/paletteSelector.html' %}
    </header>
    
    <main>
        <div class="main-container">

            <div class="input-container">

                <div> <label for="newNode">Add Nodes:</label> </div>

                <div id="nodeInput">
                    <div id="nodeBar">
                        <input type="text" placeholder="Node Name" name="newNode" id="newNode">
                    </div>
                    <div id="shortButton-container">
                        <button name="newNode_Button" id="newNode_Button" class="shortButton">+</button>
                    </div>
                </div>

                <div> <label for="newIntersection">Add Intersection:</label> </div>

                <div id="intersectionInput">
                    <div id="intersectionInput-innerdiv">    
                        <div> <input type="text" id="newNode_source" placeholder="Source Node"> </div>
                        <div> <input type="text" id="newNode_target" placeholder="Target Node"> </div>
                        <div> <input type="text" id="newNode_weight" placeholder="Intersection Weight"> </div>
                    </div>

                    <div id="column_Button">
                        <button name="newIntersection_Button" id="newIntersection_Button" class="highButton" >+</button>
                    </div>
                </div>

                <div id="buttonsDiv">
                    <button name="clearGraph_Button" class="wideButton" id="clear_Button">Clear Graph</button>
                    <button name="algorithms_Button" class="wideButton" id="algorithms_Button">Apply Algorithm</button>
                    <button name="download_Button" class="wideButton" id="download_Button">Download Graph</button>
                </div>
            
            </div> 
            
            <div class="diagram-container">
                <svg id="graph-svg"></svg>
            </div>

            <div id="marginDiv"></div>

        </div>
    </main>
    
    {% include 'components/Panel_graphAlgorithm.html' %}
    {% include 'components/Panel_graphDownload.html' %}
    
    
    {% include 'components/footer.html' %}
 
</body>
</html>
